<h1>Mein Konto</h1>

<form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)" class="profile-form">
  <mat-form-field appearance="fill">
    <mat-label>Vorname</mat-label>
    <input matInput [(ngModel)]="firstName" name="vorname" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nachname</mat-label>
    <input matInput [(ngModel)]="lastName" name="nachname" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Straße</mat-label>
    <input matInput [(ngModel)]="street" name="strasse" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Hausnummer</mat-label>
    <input matInput [(ngModel)]="houseNumber" name="hausnummer" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Land</mat-label>
    <mat-select [(ngModel)]="country" name="land" required>
      <mat-option *ngFor="let country of countries" [value]="country">
        {{ country }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Telefonnummer</mat-label>
    <input matInput maxlength="10" [(ngModel)]="phoneNumber" name="telefonnummer" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.form.valid">
    Speichern
  </button>
</form>
