<form class="search-data-container" [formGroup]="searchGroup">
  <mat-form-field>
    <mat-label>Suche</mat-label>
    <input matInput formControlName="searchKey" placeholder="Produkt suchen...">
  </mat-form-field>

  <mat-chip-listbox multiple="true" aria-label="Tagauswahl">
    <mat-chip-option *ngFor="let tag of productTags$ | async"
                     (selectionChange)="selectedTagsChanged($event)">{{tag}}</mat-chip-option>
  </mat-chip-listbox>
</form>

<div class="product-list-container">
  <mat-card *ngFor="let product of searchedProducts$ | async; let i = index" class="product-card">
    <img mat-card-image [src]="product.imageUrl"
         alt="Product Image"
         [routerLink]="'/product/' + product.id"/>
    <mat-card-content>
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Preis: {{ product.price | currency:"EUR" }}</p>
      <p>Lieferdatum: {{ product.deliveryDate | date:"dd.MM.YYYY" }}</p>
    </mat-card-content>
  </mat-card>
</div>
